@page "/createuser"
<br />
<AuthorizeView Roles="@_pageRoles">
    <Authorized>
        <EditForm Model="@user" OnValidSubmit="@HandleValidSubmit" Context="tableRowContext">
            <MudGrid>
                <MudItem xs="12" sm="4" md="3">
                    <MudPaper Class="pa-8 ma-2" Elevation="3">
                        <div class="d-flex justify-center mb-4">
                            @if (!string.IsNullOrEmpty(@imageBase64))
                            {
                                <MudAvatar Image="@image" Style="height:250px; width:250px;"> </MudAvatar>
                            }
                            else
                            {
                                <MudAvatar Color="Color.Secondary" Style="height:250px; width:250px;"></MudAvatar>
                            }
                        </div>
                        <MudCardActions Class="d-flex justify-center">
                            <InputFile id="fileInput" OnChange="UploadFiles" hidden />
                            <MudButton HtmlTag="label"
                                       Variant="Variant.Text"
                                       Color="Color.Primary"
                                       Size="Size.Small"
                                       StartIcon="@Icons.Filled.CloudUpload"
                                       for="fileInput">
                                Upload Image
                            </MudButton>
                        </MudCardActions>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="8" md="9">
                    <MudPaper Class="pa-8 ma-2" Elevation="3">
                        <MudGrid>
                            <MudItem xs="12" md="6">
                                <MudTextField @bind-Value="@user.Firstname" Margin="Margin.Dense" T="string" Variant="Variant.Outlined" Label="First Name" Required="true" RequiredError="First name is required!"></MudTextField>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudTextField @bind-Value="@user.Lastname" Margin="Margin.Dense" T="string" Variant="Variant.Outlined" Label="Last Name" Required="true" RequiredError="Last name is required!"></MudTextField>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudAutocomplete T="int" Label="Title Name*" Margin="Margin.Dense" Dense="true" Variant="Variant.Outlined" For="@(() => user.TitleId)" @bind-Value="user.TitleId" ResetValueOnEmptyText="true" SearchFunc="@SearchUserTitleComboBoxData" ToStringFunc="@(i => userTitleNameList.FirstOrDefault(b => b.ID == i)?.TITLE ?? string.Empty)" OffsetY="true"></MudAutocomplete>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudAutocomplete T="int" Label="Position Name*" Margin="Margin.Dense" Dense="true" Variant="Variant.Outlined" For="@(() => user.PositionId)" @bind-Value="user.PositionId" ResetValueOnEmptyText="true" SearchFunc="@SearchUserPositionComboBoxData" ToStringFunc="@(i => userPositionNameList.FirstOrDefault(b => b.ID == i)?.POSITION ?? string.Empty)" OffsetY="true"></MudAutocomplete>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudAutocomplete T="int" Label="Location Name*" Margin="Margin.Dense" Dense="true" Variant="Variant.Outlined" For="@(() => user.LocationId)" @bind-Value="user.LocationId" ResetValueOnEmptyText="true" SearchFunc="@SearchUserLocationComboBoxData" ToStringFunc="@(i => userLocationNameList.FirstOrDefault(b => b.ID == i)?.LOCATION ?? string.Empty)" OffsetY="true"></MudAutocomplete>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudTextField @bind-Value="@user.IPT" T="string" Margin="Margin.Dense" Variant="Variant.Outlined" Label="IPT" Required="true" RequiredError="IPT is required!"></MudTextField>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudTextField @bind-Value="@user.CellPhone" T="string" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Cell Phone" Required="true" RequiredError="Cell Phone is required!"></MudTextField>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudDatePicker @bind-Date="@birthdate" DateFormat="dd/MM/yyyy" Margin="Margin.Dense" Variant="Variant.Outlined" Required="true" RequiredError="Date of birth is required!"></MudDatePicker>
                            </MudItem>
                            <MudItem xs="12" Class="d-flex justify-end flex-grow-1 gap-4">
                                <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.Save" ButtonType="ButtonType.Submit">Save Change</MudButton>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <NotAccess />
    </NotAuthorized>
</AuthorizeView>
