@page "/employeecreate"
<br />
<AuthorizeView Roles="@_pageRoles">
    <Authorized>
        <MudPaper Class="pa-6 ma-2" Elevation="10">
            <h4>Employee Create</h4>
        </MudPaper>
        <EditForm Model="@employee" OnValidSubmit="@HandleValidSubmit" Context="tableRowContext">
            <MudGrid>
                <MudItem xs="12" sm="4" md="3">
                    <MudPaper Class="pa-8 ma-2" Elevation="10">
                        <div class="d-flex justify-center mb-4">
                            @if (!string.IsNullOrEmpty(@imageBase64))
                            {
                                <MudAvatar Image="@image" Style="height:250px; width:250px;"> </MudAvatar>
                            }
                            else
                            {
                                <MudAvatar Color="Color.Secondary" Style="height:250px; width:250px;">@_firstLetterOfName</MudAvatar>
                            }
                        </div>
                        <MudCardActions Class="d-flex justify-center">
                            <InputFile id="fileInput" OnChange="UploadFiles" hidden />
                            <MudButton HtmlTag="label"
                                       Variant="Variant.Text"
                                       Color="Color.Primary"
                                       Size="Size.Small"
                                       StartIcon="@Icons.Filled.CloudUpload"
                                       for="fileInput">
                                Upload Image
                            </MudButton>
                        </MudCardActions>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="8" md="9">
                    <MudPaper Class="pa-8 ma-2" Elevation="10">
                        <MudGrid>
                            <MudItem xs="12" md="6">                       
                                <TextBox T="string" _label="First Name" _required="true" _requiredError="First name is required!" @bind-TbText="@employee.Firstname"></TextBox>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <TextBox T="string" _label="Last Name" _required="true" _requiredError="Last name is required!" @bind-TbText="@employee.Lastname"></TextBox>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <SearchingDropDownList T="int" _label="Tittle Name*" _data="tittleAutocomplateModel" @bind-CurrentValue="employee.TitleId"></SearchingDropDownList>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <SearchingDropDownList T="int" _label="Position Name*" _data="positionAutocomplateModel" @bind-CurrentValue="employee.PositionId"></SearchingDropDownList>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <SearchingDropDownList T="int" _label="Location Name*" _data="locationAutocomplateModel" @bind-CurrentValue="employee.LocationId"></SearchingDropDownList>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <TextBox T="string" _label="IPT No" _required="true" _requiredError="IPT no is required!" @bind-TbText="@employee.IPT"></TextBox>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <TextBox T="string" _label="Cell Phone" _required="true" _requiredError="Cell phone is required!" @bind-TbText="@employee.CellPhone"></TextBox>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <DatePicker @bind-DpText="@birthdate" _required="true" _requiredError="Date of birth is required!" _label="Date Of Birth"></DatePicker>
                            </MudItem>
                            <MudItem xs="12" Class="d-flex justify-end flex-grow-1 gap-4">
                                <Button _color="Color.Success" _startIcon="@Icons.Material.Filled.Save" _buttonType="ButtonType.Submit" _label="Save"></Button>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <NotAccess />
    </NotAuthorized>
</AuthorizeView>
