@page "/phonebook"
@inject IStringLocalizer<PhoneBook> _localizer
<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<br />
<MudPaper Class="pa-4 mb-2" Elevation="10">
    <h4>@_localizer["PageHeaderText"]</h4>
</MudPaper>
<MudTable Hover="true" Elevation="10" Items="phonebook" Filter="new Func<EmployeePhoneBookDisplayModel, bool>(Search)" @bind-user="phonebook" Striped="true" Dense="true" Bordered="true">
    <ToolBarContent>
        <div class="justify-center mud-text-align-center">
                <Button OnClickCallback="ExportDataToExcel" _color="Color.Success" _startIcon="@Icons.Custom.FileFormats.FileExcel" _label="@_localizer["ButtonExcelText"]"></Button>
        </div>
        <MudSpacer />
        <MudTextField @bind-Value="_searchString" Immediate="true" FullWidth=false Placeholder="@_localizer["SearchBoxText"]" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh Style="text-align:right">@_localizer["DGPicture"]</MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<EmployeePhoneBookDisplayModel, object>(x => x.Firstname)">@_localizer["DGFirstName"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<EmployeePhoneBookDisplayModel, object>(x => x.Lastname)">@_localizer["DGLastName"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<EmployeePhoneBookDisplayModel, object>(x => x.Title)">@_localizer["DGTittleName"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<EmployeePhoneBookDisplayModel, object>(x => x.Position)">@_localizer["DGPositionName"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<EmployeePhoneBookDisplayModel, object>(x => x.Location)">@_localizer["DGLocationName"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<EmployeePhoneBookDisplayModel, object>(x => x.IPT)">@_localizer["DGIpt"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<EmployeePhoneBookDisplayModel, object>(x => x.CellPhone)">@_localizer["DGCellPhone"]</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate Context="tableRowContext">
        <MudTd>
            <div class="d-flex justify-center mb-4">
                <MudAvatar Image="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(tableRowContext.Picture))" Style="height:100; width:100;"> </MudAvatar>
            </div>
        </MudTd>
        <MudTd DataLabel="FirstName">
            <MudHighlighter Text="@tableRowContext.Firstname" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="LastName">
            <MudHighlighter Text="@tableRowContext.Lastname" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="UserName">
            <MudHighlighter Text="@tableRowContext.Title" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="Email">
            <MudHighlighter Text="@tableRowContext.Position" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="Email">
            <MudHighlighter Text="@tableRowContext.Location" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="PhoneNumber">
            <MudHighlighter Text="@tableRowContext.IPT" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="Email">
            <MudHighlighter Text="@tableRowContext.CellPhone" HighlightedText="@_searchString" />
        </MudTd>
    </RowTemplate>
    <FooterContent>

    </FooterContent>
    <PagerContent>
        <MudTablePager></MudTablePager>
    </PagerContent>
</MudTable>


