@inject HttpClient Http
<MudNavMenu>
    @if (menuList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var ml in menuList)
        {
            if (ml.ParentMenuId == 0)
            {
                if (ml.PageLink != null)
                {
                    @if (ml.PageRoles.Split(',').Contains(userRole))
                    {
                        @if (ml.PageLink != "/")
                        {
                            <MudNavLink Href="@('/'+ml.PageLink)" Match="NavLinkMatch.All" Icon="@ml.IconName">@ml.MenuName</MudNavLink>
                        }
                        else{
                            <MudNavLink Href="@(ml.PageLink)" Match="NavLinkMatch.All" Icon="@ml.IconName">@ml.MenuName</MudNavLink>
                        }
                    }
                }
                else
                {
                    @if (ml.PageRoles.Split(',').Contains(userRole))
                    {
                        <MudNavGroup Title="@ml.MenuName" Icon="@ml.IconName">
                            @foreach (var mlp in menuList)
                            {
                                @if (ml.MenuId == mlp.ParentMenuId)
                                {
                                    <MudNavLink Match="NavLinkMatch.Prefix" Href="@mlp.PageLink" Icon="@mlp.IconName">@mlp.MenuName</MudNavLink>
                                }
                            }
                        </MudNavGroup>
                    }
                }
            }
        }
        }
    </MudNavMenu>

    
