@inject HttpClient Http
@inject IStringLocalizer<NavMenu> _localizer
<MudNavMenu>
    @if (menuList == null)
    {
        <div class="h5 spinner-border" style="color:red"></div>
    }
    else
    {
        @foreach (var ml in menuList)
        {
            if (ml.ParentMenuId == 0)
            {
                if (ml.PageLink != null)
                {
                    @if (ml.PageRoles.Split(',').Contains(userRole))
                    {
                        @if (ml.PageLink != "/")
                        {
                            <MudNavLink Href="@('/'+ml.PageLink)" Match="NavLinkMatch.All" Icon="@ml.IconName">@_localizer[ml.MenuName]</MudNavLink>
                        }
                        else{
                            <MudNavLink Href="@(ml.PageLink)" Match="NavLinkMatch.All" Icon="@ml.IconName">@_localizer[ml.MenuName]</MudNavLink>
                        }
                    }
                }
                else
                {
                    @if (ml.PageRoles.Split(',').Contains(userRole))
                    {
                        <MudNavGroup Title="@_localizer[ml.MenuName]" Icon="@ml.IconName">
                            @foreach (var mlp in menuList)
                            {
                                @if (ml.MenuId == mlp.ParentMenuId && mlp.PageRoles.Split(',').Contains(userRole))
                                {
                                    <MudNavLink Match="NavLinkMatch.Prefix" Href="@mlp.PageLink" Icon="@mlp.IconName">@_localizer[mlp.MenuName]</MudNavLink>
                                }
                            }
                        </MudNavGroup>
                    }
                }
            }
        }
        }
    </MudNavMenu>

    
